body {
  font-family: 'Nunito', Arial, sans-serif;
  background-color: lightgrey;
}
ol li{
  list-style: none;
  display: inline;
  padding: 30px;
  left: 100px
  align-items: left;
}
.logo.ol{
  display: inline-block;
  left: 70px;
}
.f1{
  background-image: url('../img/melbourne.jpg');
  background-size: cover;
  background-position: center center;
  padding: 1em;
  width:500 ;
  height: 380px;
  color: white;
  background-color: gray;
  text-align: center;
  size: 2em;

}
.nav{
  display: inline;
}
.logo{
  display: inline-block;
}
